@media (max-width: 575.98px) {
    .pl-xs-25px {
      padding-left: 25px !important;
    }
    .my-xs-40px {
    margin-left: 40px !important;
    margin-right: 40px !important;
}
}

/* Navbarhoz tartozó stylok*/
#navbar-container{
    padding-left: 10%;
    padding-right: 10%;
}
.nav-link {
  position: relative;
  color: #fff;
  transition: color 0.3s;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #17a7d2;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: #17a7d2;
}
nav li{
    margin-left: 10px;
}
nav h2{
  font-size: 35px;
}
.logo-kiemeles {
  filter: drop-shadow(0 0 14px rgba(80, 180, 255, 0.45));
}
.navbar {
    position: absolute;
    width: 100%;
    padding: 20px;
    top: 0;
    left: 0;
    font-size: 25px;
    z-index: 50;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0)
    );
}
/*bodyhoz*/
body {
      background-size: cover;
      color: #f5f5f5;
      font-size: 20px;
}

.section-title {
      margin-top: 2rem;
      margin-bottom: 1rem;
      text-align: center;
      font-weight: bold;
      font-size: 2rem;
}
#logo{
    width: 100px;
}
/*buttonok/gombok*/

/*Keret / kártya*/

/*Herok*/
.hero{
  height: 80vh;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: left;

  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  position: relative;
}
.hero h1 {
  font-size: 4rem;
  margin-left: 10%;
  color: white;
}
.herobutton{
  border: solid white 1px;
  border-radius: 10px;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 23px;
  color: white;
  text-decoration: none;
}
.herobutton:hover{
  background-color: white;
  color: black;
  transition: background-color 0.5s, color 0.5s;
  filter: drop-shadow(0 0 14px rgba(255, 255, 255, 0.45));
}

.hero1 { 
  background-image: url(../Img/Bg1.jpeg);
}
.hero2{
  background-image: url(../Img/Forraszós_kép1.jpg);
}

/*Hero utáni tartalmi rész*/
.content {
  padding: 80px 20px;
  background: #111;
  text-align: center;
  align-items: center;
}
.content p {
  max-width: 900px;
  display: flex;
  text-align: left;
}
.contentcim{
  font-size: 35px;
  display: flex;
  padding-right: 5%;
  justify-content: end;
  align-items: start;
  text-align: center;
}
/*Footerhez tartozó style*/
footer{
}
.fixed-footer {
    position: static;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    z-index: 9999 !important;
}
#footer-container{
    padding-left: 10%;
    padding-right: 10%;
}
.footer-link{
    text-decoration: none;
    color: white;
}
.footer-link:hover{
    color: #328be3;
    text-decoration: underline;
    height: 5px;
    transition: width 0.3s;
}