@media (max-width: 575.98px) {
    .pl-xs-25px {
      padding-left: 25px !important;
    }
    .my-xs-40px {
    margin-left: 40px !important;
    margin-right: 40px !important;
}
}

/* Navbarhoz tartozó stylok*/
.navbar {
    font-size: 25px;
}
#navbar-container{
    padding-left: 10%;
    padding-right: 10%;
}
.nav-link {
  position: relative;
  color: #fff;
  transition: color 0.3s;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #17a7d2; /* tetszőleges szín */
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: #17a7d2;
}
nav li{
    margin-left: 10px;
}
nav h2{
  font-size: 35px;
}
.logo-kiemeles {
  filter: drop-shadow(0 0 14px rgba(80, 180, 255, 0.45));
}
.navbar {
  backdrop-filter: blur(6px);
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.45),
    rgba(0, 0, 0, 0)
  );
}
/*bodyhoz*/
body {
      background-image: url(../Img/Bg1.jpeg);
      background-size: cover;
      color: #f5f5f5;
      padding-bottom: 150px;
      font-size: 20px;
}

.section-title {
      margin-top: 2rem;
      margin-bottom: 1rem;
      text-align: center;
      font-weight: bold;
      font-size: 2rem;
}
#logo{
    width: 100px;
}

/*Footerhez tartozó style*/
footer{
}
.fixed-footer {
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    z-index: 9999 !important;
}
#footer-container{
    padding-left: 10%;
    padding-right: 10%;
}
.footer-link{
    text-decoration: none;
    color: white;
}
.footer-link:hover{
    color: #328be3;
    text-decoration: underline;
    height: 5px;
    transition: width 0.3s;
}